<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Películas | FilmTokio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{/css/header.css}">

    <link rel="stylesheet" th:href="@{/css/videoteca.css}">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<section class="catalog-hero">

    <div class="catalog-overlay">

        <h1>
            <i class="bi bi-collection-play-fill"></i>
            Catálogo de Películas
        </h1>

        <p>
            Descubre y valora las mejores películas de FilmTokio.
        </p>

    </div>

</section>

<div class="movie-container">

    <div class="row g-4" id="movie-list">

        <div class="col-lg-3 col-md-4 col-sm-6"
             th:each="movie : ${movieCardList}">

            <a th:href="@{/movies/{id}(id=${movie.id})}" class="text-decoration-none">
                <div class="movie-card">

                    <img class="movie-poster"
                        th:src="@{'/uploads/' + ${movie.poster}}"
                        alt="Poster">

                    <div class="movie-body">

                        <div class="movie-title"
                            th:text="${movie.title}">
                        </div>

                        <div class="movie-year">

                            <i class="bi bi-calendar-event"></i>

                            <span th:text="${movie.releaseYear}"></span>

                        </div>

                        <!-- Valoración -->

                        <div class="rating">

                            <i class="bi bi-star-fill"></i>

                            <span th:text="${movie.averageRating}"></span>

                            <small>/5</small>

                        </div>

                        <!-- Director -->

                        <div class="movie-info">

                            <strong>Director:</strong>

                            <span th:text="${movie.director.name + ' ' + movie.director.surname}"></span>

                        </div>

                        <!-- Actores -->

                        <div class="movie-info">

                            <strong>Actores:</strong>

                            <div th:each="actor : ${movie.actors}">

                                <span th:text="${actor.name + ' ' + actor.surname}"></span>

                            </div>

                        </div>

                        <div class="mt-4"
                            th:if="${isAdmin}">

                            <a th:href="@{/movies/edit/{id}(id=${movie.id})}"
                            class="btn btn-edit w-100">

                                <i class="bi bi-pencil-square"></i>

                                Editar película

                            </a>

                        </div>

                    </div>

                </div>
            </a>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>